@using NovelistBlazor.PWA.Component
@using NovelistBlazor.PWA.Component.Svg
@using NovelistBlazor.Common

@inherits LayoutComponentBase

<div class="flex flex-col h-screen">
    <TopRow/>
    <div class="flex flex-row flex-grow">
        <SideBar />
        <ContentPanel>
            @Body
        </ContentPanel>
    </div>
</div>

@code
{


}
