@page "/"

@using NovelistBlazor.PWA.Component
@using NovelistBlazor.Common.Service

@inject Repository _repository

<PageTitle>Novelist - Home</PageTitle>
<Container Title="Home">
    <h1>Welcome to the Novelist!</h1>
    <p>This app will help you to plan and write your novel.</p>
</Container>

@code{
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await _repository.LoadNovelsAsync();
    }
}




