@page "/novel"

@using NovelistBlazor.Common
@using NovelistBlazor.Common.Service
@using NovelistBlazor.PWA.Component

@implements IDisposable

@inject Repository _repository

<PageTitle>Novelist - Novel</PageTitle>
<Container Title="Novel">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
        <InputText id="name" @bind-Value="_repository.CurrentNovel.Name" />
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Description</label>
            <EditForm Model="@_repository.CurrentNovel">
                <InputTextArea id="description" @bind-Value="_repository.CurrentNovel.Description" />
            </EditForm>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="abstract">Abstract</label>
            <EditForm Model="@_repository.CurrentNovel">
                <InputTextArea id="abstract" @bind-Value="_repository.CurrentNovel.Abstract" />
            </EditForm>
        </div>
    </div>
</Container>
<Container Title="Plot-Units">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6">
        <Table DTOType="@DTOType.PlotUnit" />
    </div>
</Container>
<Container Title="Characters">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6">
        <Table DTOType="@DTOType.Character" />
    </div>
</Container>

@code {

    protected override async Task OnInitializedAsync()
    {

    }

    public void Dispose()
    {

    }

}