@inherits ComponentBase

<div class="bg-stone-400">
    <h1>@Title</h1>
    <div>
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; }
}