@inherits ComponentBase

<div class="inline-flex flex-col h-full min-h-screen px-4 py-10 bg-gray-100 border border-gray-300 rounded-lg shadow-lg items-center gap-4">
    <h1 class="text-4xl font-bold text-center text-black-600 my-6">@Title</h1>
    <div class="flex-grow">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; }
}