@using NovelistBlazor.PWA.Component
@using Microsoft.AspNetCore.Components

@inherits ComponentBase

<button type="button" @onclick="OnClick" class="m-4 hover:bg-stone-800">
    <div class="flex flex-row">
        @ChildContent
        <p class="ps-4">@Text</p>
    </div>
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}
