@inherits ComponentBase

<a href="@Href" class="flex flex-row ps-8 pt-8 hover:bg-stone-800">
    @ChildContent
    <p class="ps-4">@Text</p>
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Href { get; set; }
}
